main {
    #daniel {
        background-color: $moderate-violet;
        background-image: url('../../images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top right 2em;
    }

    #jonathan {
        background-color: $very-dark-grayish-blue;
    }

    #jeanette {
        background-color: #FFF;
    }

    #patrick {
        background-color: $very-dark-blackish-blue;
    }

    #kira {
        background-color: #FFF;
    }
}