html {
  font-size: 13px;
}

body {
  background-color: $light-grayish-blue;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;

  @media(min-width: 900px) {
    flex-direction: row;
  }
}